.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #2b76d2;
    padding: 1em 0;
}

header a {
    color: white;
    text-decoration: none;
}

.logo {
    font-weight: bold;
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}

nav ul li a {
    padding: 1em;
}

nav ul li a:hover {
    background-color: #2460aa;
}